body {
    margin: 0;
    overscroll-behavior: none;
}

.gear-grid-image {
    width: 10%;
}

.gear-grid-code {
    width: 20%;
}

.gear-grid-atk {
    width: 5%;
}

.gear-grid-hp {
    width: 5%;
}

.gear-grid-def {
    width: 5%;
}

.gear-grid-speed {
    width: 5%;
}

.gear-grid-name {
    width: 30%;
}

.gear-grid-card {
    width: 20%;
}

/*
    Styles pulled from https://www.tofu-bot.com/css/style.css
    The rest of the stuff in that file breaks the styles on the page
*/

body {
    background: radial-gradient(circle, rgba(31,223,239,1) 0%, 
        rgba(18,187,203,1) 42%, 
        rgba(13,170,185,1) 100%);
}

.bg-canvas {
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    /* z-index removed for proper display */
}

